{% extends 'templ.html' %}
{% block title %} кино-кофе-сигареты {% endblock %}

{% block content %}
<blockquote class="blockquote text-center">
      <p class="mb-0">Cigarettes and coffee, man, that's a combination.</p>
      <footer class="blockquote-footer">Iggy Pop in <cite title="Source Title"><b><a href="https://www.kinopoisk.ru/film/61207/">Coffee and Cigarettes</a></b>, 2003 by Jim Jarmusch</cite></footer>
</blockquote>
<p>Данный сайт и опрос созданы с целью узнать <u>среднее отношение</u> людей к трем важнейшим для массовой культуры вещам:</p>
<ul>
          <li type="circle">кофе,</li>
          <li type="circle">сигаретам,</li>
          <li type="circle">кинофильмам.</li>
</ul>
<p>А также для того, чтобы найти <u>корреляцию</u> между ними.</p>
<br>
<p>Вы спросите: <i>А где здесь может быть связь?</i></p>
<p><b>Связь прямая</b> - это фраза вверху страницы, что произносит один из героев фильма Джима Джармуша, попивая свой кофе и докуривая сигарету на камеру.</p>
<img src="/static/с.jpg" alt="с+с" width=100%>
<br><br><br><br>
{% endblock %}